---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
import { Image } from 'astro:assets';

import myImage from '../assets/profile-pic.jpg';

const myInterests = [
  { name: 'What goes around Astro', url: 'https://astro.build/' },
  {
    name: 'Starlight and its Constellation',
    url: 'https://starlight.astro.build/showcase/',
  },
];
---

<Layout
  title="Home"
  pageTitle="Atharva | Home"
  description="This is Atharva's Portfolio Website Homepage"
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <h2 class="hidden">About Atharva</h2>
      <div class="flex flex-col md:col-span-8">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl">&lt; Hello World /&gt;</p>
            <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
              <span class="text-white">#</span>Translating
              <a
                href="https://docs.astro.build/hi/getting-started/"
                target="_blank"
                class="link-underline-tw link-underline-black-tw"
              >
                Astro Docs
              </a>
              <span>&</span>
              <a
                href="https://starlight.astro.build/hi/"
                target="_blank"
                class="link-underline-tw link-underline-black-tw"
              >
                Starlight Docs
              </a>
            </p>
            <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
              <span class="text-white">#</span> Writing <a
                href="https://convelations.vercel.app/"
                target="_blank"
                class="link-underline-tw link-underline-black-tw"
              >
                Convelations
              </a>
            </p>
            <Button target={'_self'} href="/blog/">Check out the blog &rarr;</Button>
          </div>
        </Card>
      </div>
      <Image
        class="object-cover h-full w-full rounded-lg md:col-span-2 border-3 border-black card-shadow"
        src={myImage}
        alt="Atharva's Profile Picture"
        width={myImage.width}
        height={myImage.height}
      />
      <div class="md:col-span-10">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">My Interests</h2>
          <ul class="flex gap-4 flex-wrap">
            {
              myInterests.map((item) => (
                <li>
                  <Pill>
                    <a class="sanchez" href={item.url} target="_blank" title={`Go to ${item.name}`}>
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
